<!--
  Generated template for the ActivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Active</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card *ngFor="let a of active">
        <ion-card-content>
            <ion-card-title color="primary-light">
                <strong>Status </strong> {{a.status}}
            </ion-card-title>
            <ion-row>
                <ion-col>
                    PICKUP <br> {{a.pickup}}
                </ion-col>
                <ion-col>
                    DROPOFF <br> {{a.dropoff}}
                </ion-col>
                <ion-col>
                    COURIER <br> {{a.courier}}
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let a of order">
        <ion-card-content>
            <ion-card-title color="primary-light">
                <strong>Status </strong> In Process
            </ion-card-title>
            <ion-row>
                <ion-col>
                    PICKUP <br> {{a.address}}
                </ion-col>
                <ion-col>
                    DROPOFF <br> Egypt
                </ion-col>
                <ion-col>
                    COURIER <br> DHL
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <div [hidden]="active || activeErrMess" text-center>
        <ion-spinner></ion-spinner>
        <h4>Loading...Please Wait</h4>
    </div>
    <div *ngIf="activeErrMess">
        <h2>Error</h2>
        <h4>{{activeErrMess}}</h4>
    </div>


</ion-content>